@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background-image: url('https://cdn.pixabay.com/photo/2022/10/21/08/39/cat-7536508_960_720.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-color: #262626;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.categories {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  justify-content: center;
  padding-top: 20px;
}

.categories li {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all ease-in-out .2s;
}

.categories li:hover {
  transform: scale(1.1);
}

.list-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
  max-width: 1180px;
  margin: auto;
  list-style: none;
}

.item-card {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.5);
  width: 280px;
  height: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  color: #fff;
  padding: 20px 10px;
  gap: 10px;
  font-size: 18px;
  transition: all ease-in-out .2s;
  cursor: pointer;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.item-card:hover {
  transform: scale(1.05);
}

.item-card .name {
  font-size: 40px;
  text-transform: capitalize;
}

.item-card .icon {
  font-size: 90px;
  margin: 5px 0;
}

.item-card .price {
  font-size: 25px;
  font-weight: bold;
}

.item-card .nothing {
  color: rgb(255, 108, 108);
  text-transform: capitalize;
  font-size: 20px;
}

.item-card .stock {
  text-transform: capitalize;
}